/*******Heading-Start********

1) Navbar Css

/*******Heading-End****/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}

/*****Navbar-Start****/
.logo{
    width: 193px;
    /* height: 40px; */
    padding: 0 20px 0 0;
    border-right: 1px solid #FFFFFF;
}

.navbar{
    display: flex;
    justify-content:space-between; 
    align-items: center;
    background-color:transparent;
    color:#FFFFFF;
    border-bottom: 1px solid #ffffff91;
    padding: 20px 0 0 20px;
  }
  .brand-title{
    font-size: 16px;
    display: flex;
  }
  .navbar-ul{
    /* border-left: 1px solid #FFFFFF; */
    opacity: 0.6;

  }
  .navbar-ul li a{
    text-decoration: none;
    /* opacity: 0.6; */
    color: #FFFFFF;
  }
  .navbar-links ul{
    display: flex;  
  }
  
  .navbar-links li{
    list-style:none;
    padding: 1rem; 
    display: block;
    
  }
  
  .toggle-button{
    position: absolute;
    top:2.0rem; 
    right: 2rem;
    display:none;
    flex-direction: column;
    justify-content:space-between;
    width:31px;
    height:21px;
    z-index: 1;
  }
  
  
  .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all 0.8s;
  }
  
   .active .bar1 {
    transform: rotatez(-45deg) translate(-7px, 6px)
  }
   .active .bar2 {
    opacity: 0;
    
  }
  .active .bar3{
    transform: rotatez(45deg) translate(-7px, -6px)
  }
  
  
  
  
  @media (max-width:993px){
    body {overflow-x: hidden;}
    
      .toggle-button {
      display: flex;
        }
    .navcont{
      width: 90%;
    }
      
    .navbar-links{

        position:absolute;
        background: rgb(20,16,79);
        background: -moz-linear-gradient(90deg, rgba(20,16,79,1) 0%, rgba(22,22,135,1) 41%, rgba(23,52,130,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(20,16,79,1) 0%, rgba(22,22,135,1) 41%, rgba(23,52,130,1) 100%);
        background: linear-gradient(90deg, rgba(20,16,79,1) 0%, rgba(22,22,135,1) 41%, rgba(23,52,130,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14104f",endColorstr="#173482",GradientType=1);        width:100%;
        height: 100vh;
        /*hidden off to side*/
        transform: translateX(100vw);
     /* transition: transform 0.8s ease-in-out; */
     top: 0;
     display: none;

      
    
    }
    .navbar-ul{
      margin-top: 30px;
    }
    
    .navbar{
      flex-direction:column;
      align-items: flex-start;
         
      
    }  
    .navbar-links ul {
      flex-direction: column;
    }
    .navbar-letstalk{
      display: none;
    }
    
    
    }
    .navbar-links.active {
      display:flex;
      transform: translateX(0vw);
    }
  .navbar-letstalk{
    font-size: 16px;
    background-color: #009ADC;
    padding: 9px 20px;
    border-radius: 30px;
  }
  /*****Navbar-End****/

  
#videoWrapper {
  height: 100vh;
  overflow: hidden;
  /* position: relative; */
}

#videoWrapper video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover; 
  z-index: -100;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#videoWrapper .caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#videoWrapper .caption .contents {
  width:50%;
  color: #fff;
  text-align: center;
  padding: 2rem;
}
 


  .hero-video-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
}
.business-head{
    display: flex;
    justify-content: center;
}
.section-head{
  border: 1px solid #fff;
  border-radius: 30px;
    width: fit-content;
    padding: 8px;
}

.second-title{
    font-weight: 700; /* Bold */
    color: #009ADC; /* Blue color */
  }
  .section-title{
    color: #FFFFFF;
    font-size: 14px;
  }
  .hero-video-banner{
    padding-top: 150px;
  }
  .section-challenges{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 59px;
  }
  .section-para{
    color: #FFFFFF;
    font-size: 16px;
  }
  .section-line{
   border-bottom: 1px solid #ffffff7d;
   width: 100px;
   margin-top:240px;
   opacity: 1;
   
  }
  .section-getstart-btn{
    background-color: #FFFFFF;
    padding: 14px 26px;
    font-size: 16px;
    border-radius: 30px;
  }


  /*-a systematically appproach that imporves-*/

.content-section {
  font-size: 60px;
  color: #009ADC;
  padding: 100px 300px 100px 300px;
}
.content-section h1 {
 font-weight: bold;
}


/*tab-start*/
.nav-pills .nav-link{
  background-color: #F1FBFF !important;
  margin: 12px 0;
}
.tab-title{
  font-size: 48px;
  font-family: 600;
}
.tab-view{
  border: 1px solid #009ADC;
  border-radius: 30px;
  width: fit-content;
  padding: 8px 16px;
  color: #009ADC;
}
.tab-precentage-section h3{
  font-size: 60px;
}
.tab-precentage-section small{
  font-size: 16px;
  color: #114962;
}
.tab-precentage-section {
  border-bottom: 1px solid #009ADC;
  padding:0px 0 20px 0;
}
.nav-pills .nav-link.active {
  border: 2px solid #009ADC; /* Change the border color as needed */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

@media only screen and (max-width:768.98px) {
  .content-section {
    font-size: 20px;
    color: #009ADC;
    padding: 10px 20px 10px 20px;
  }

  .content-section h1 {
    font-weight: bold;
   }
 .tab-title{
  font-size: 29px;
 } 
 .tab-para{
  font-size: 10px;
 }
 .tab-view span{
     font-size: 10px;
 }
 .tab-logo{
  width: 70px;
 }
 .tab-precentage-section h3 {
  font-size: 26px;
}
.tab-read{
  font-size: 10px;
}
.tab-precentage-section small {
  font-size: 13px;
}
.nav {
  display: flex !important;
  flex-wrap: nowrap !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  overflow-x: scroll !important;
  gap: 16px !important;
}

.section-challenges {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}
.section-head {
  border: 1px solid #fff;
  border-radius: 30px;
  width: fit-content;
  padding: 4px;
  /* font-size: 48px; */
  margin-top: 20px;
}
.section-title {
  color: #FFFFFF;
  font-size: 10px;
}

.section-getstart-btn {
  background-color: #FFFFFF;
  padding: 8px 26px;
  font-size: 16px;
  border-radius: 30px;
}
.section-logo{
  width: 45px;
}
#videoWrapper video {
  overflow: hidden;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  /* height: auto; */
  /* object-fit: cover; */
  z-index: -100;
  top: 50%;
  left: 100%;
  transform: translateX(-100%) translateY(-50%);
  overflow: f;
}
.video-section{
  width: 300vh;
}

}
/**tab-end*/
/*center section start*/
.section-center-title{
   font-size: 48px;
   font-weight: 600;
}
.section-center-head{
  background-color: #F1FBFF;
  padding: 100px;
 
}
.section-center-para{
  font-size: 24px;
}
.address-challenge-card{
  background-color: #1A4A93;
  color: #FFFFFF;
  padding: 60px;
}
.address-challenge-title{
  font-size: 48px;
}
.address-challenge-para{
  font-size: 24px;
  color: #ffffffc1;
}
.section-learnmore{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}
.methodology-challenge-card{
  background-color: #009ADC;
  color: #FFFFFF;
  padding: 60px;
}
.view-project a{
  color: #009ADC;
  font-size: 24px;
  text-decoration: none !important;
  font-weight: 600;
}
@media only screen and (max-width:768.98px) {
  .section-container{
    /* width: 0 !important; */
    padding: 0;
  }
  .address-challenge-title{
    font-size: 38px;
  }
  .address-challenge-para{
    font-size: 18px;
    color: #ffffffc1;
  }
  .section-center-head{
    background-color: #F1FBFF;
    padding: 60px 0;
   
  }
  .section-center-title{
    font-size: 34px;
    font-weight: 600;
 }
}
@media only screen and (max-width:768.98px) {
}
/*center section end*



/*Touchmark Experts Fuel*/

/*Touchmark Experts Fuel-TITLE*/

.content-section-3 {
  padding: 100px 200px 100px 200px;
}

.content-section-3 h2 {
  font-size: 48px;
  font-weight: bold;
}

.content-section-3 p {
  font-size: 24px;
  margin-top: 29px;
}

/*Touchmark Experts Fuel TITLE for Mobile*/

@media (max-width: 768px) {
  .content-section-3 {
    padding: 10px 20px 10px 20px;
  }

  .content-section-3 h2 {
    font-size: 28px;
    font-weight: bold;
  }

  .content-section-3 p {
    font-size: 12px;
    margin-top: 19px;
  }
}

/*Touchmark Experts Fuel-BOX*/

.box-section {
  margin-top: -50px;
  margin-bottom: 50px;
}

.box-section .box-1 {
  background-color: #1A4A93;
  color: white;
  padding: 16px;
  width: 550px;
  height: 370px;
}

.box-1 h1,
.box-2 h1 {
  font-size: 48px;
  padding: 15px;
}

.box-1 p,
.box-2 p {
  font-size: 24px;
  padding: 15px;
  font-weight: lighter;
}

.box-section .box-2 {
  background-color: #009ADC;
  color: white;
  padding: 16px;
  width: 550px;
  height: 370px;
}

/*Touchmark Experts Fuel BOX for Mobile*/

@media (max-width: 768px) {
  
.box-section {
  margin-top: -50px;
  margin-bottom: 50px;
}

.box-section .box-1 {
  background-color: #1A4A93;
  color: white;
  padding: 16px;
  width: 550px;
  height: 370px;
}

.box-1 h1,
.box-2 h1 {
  font-size: 48px;
  padding: 15px;
}

.box-1 p,
.box-2 p {
  font-size: 24px;
  padding: 15px;
  font-weight: lighter;
}

.box-section .box-2 {
  background-color: #009ADC;
  color: white;
  padding: 16px;
  width: 550px;
  height: 370px;
}

}
